h1,h2,h3,h4 {
	color:222;
	text-align: center;
	font-family:'open sans',helvetica,sans-serif;
    font-weight:800;
    margin:auto;
    text-align:center;
}

 {

.sub-heading {
 text-align: center;
 margin: auto;
 font:20px georgia,serif;
 color: #999;
}
img {
	display: block;
	margin: auto;
	border: 
}
