h1,h2,h3,h4,h5 {
	text-align:Center;
	color:#222;
	}

}

li {
  margin: 5px 0;
  color:#999;
  font:Georgia;
  font-size: 20px;
}

ul,
ol {
  margin: 25px 0;
}
.sub-heading {
 text-align: center;
 margin: auto;
 font:20px georgia,serif;
 color: #999;
}

img {
	border: #ccc;
  display: block;
  margin: auto;
}
.text{
	text-align: center;
	font-size: 14px
	color:#666;
}

}
 h2 {
 	font-family:Open Sans Extra Bold;
 	border-width:14px;
 	color:#999;
 }
 .list1 {
   font-family:georgia
   margin-top:20px;
   color:#222
}

 .list2 {
 font-family:Georgia
 font-size:16px; 
 font-color:#666;
}

.head3{
	text-align:Center;
	color: #222;
	font-family: Georgia;
	font-size: 20px
}
  
  .head4{
   text-align:center;
   font-size: 28px;
   color:#222;
  }

h3{
 	font:Georgia; 
 	font-size:20px;
 	color: #222:;
  font-family: Georgia; 
  font-weight:bold;
 }

list-contect {
	color: #999;
  font-size:20px;
}


.untellersized {
font:20px Georgia;
color: #222;
}

.back {
Background:#f6f6f6;
font:20px "georgia"
}

h4 {
	font: Open Sans Extra Bold
    font-size:28px;
    color:#222;
}

.in {
	Background: #f6f6f6; 
	Left-border:10;
	font-family:Georgia;
	font-size:20px;
	color:#222;
}

 .fit{
    font: open sans;
    font-size:20px;
    display: block;
    float: right;
    width:365px;
  }
  
   blockquote1 {
    font-size:20px;
    color: #222;
    font-family: Georgia, Italic;
   background: #f6f6f6
  Left-border:10px,#e3e3e3;
  }
